In [4]:
import json
from pathlib import Path
import pandas as pd
import matplotlib.pyplot as plt


BASE_PATH = Path("data") / "eval"

with open(BASE_PATH / "eval.json") as file:
    data = json.load(file)
for k, v in data.items():
    del v["all_docs"]
data = pd.DataFrame(data)
# plt.legend()
# plt.hist(data)

# data.plot.bar()
data

           RAKE  YAKE  TXTR  KBRT  MPTE
self_top1  1.00  1.00  0.00  1.00  1.00
soft       0.32  0.68  0.08  0.64  0.03
hard       0.01  0.05  0.01  0.05  0.00
avg        0.12  0.30  0.03  0.24  0.01

In [3]:
with open(BASE_PATH / "eval1.json") as file:
    olddata = json.load(file)
olddata = pd.DataFrame(olddata)
# oldata.plot.bar()
olddata

            RAKE   YAKE   TXTR   KBRT   MPTE
all_docs   79.00  79.00  79.00  79.00  79.00
self_top1   0.72   0.90   0.13   0.89   0.89
soft        0.30   0.63   0.08   0.59   0.03
hard        0.01   0.05   0.01   0.05   0.00
avg         0.11   0.28   0.03   0.22   0.01